POSTGRES_HOST= localhost
POSTGRES_USER= localuser
POSTGRES_PASSWORD = localpassword
POSTGRES_DB= localdb
POSTGRES_PORT= 5432
DATABASE_URL= postgres://$POSTGRES_USER:$POSTGRES_PASSWORD@$POSTGRES_HOST:$POSTGRES_PORT/$POSTGRES_DB
PEPPER = PEPPER
OPENROUTER_API_KEY = your_openrouter_api_key_here